.card {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 200px;
	height: 360px;
	padding: 8px;

	background-color: var(--color-card);
	border: var(--line-border);
	border-radius: 8px;
}

.photo {
	width: 96%;
	border-radius: 50%;
}

.info {
	padding: 8px;
	font-weight: bold;
}

.name {
	padding: 0;
	padding-bottom: 4px;
}

.character {
	padding: 0;
	font-size: 14px;
}