.card {
	display: flex;
	align-items: center;

	background-color: var(--color-form);
	border: var(--line-border);
	border-radius: 12px;
}

.poster {
	width: 240px;

	border-radius: 12px;
	text-size-adjust: 20px;
}

.info {
	display: flex;
	flex-direction: column;
}