.navigation {
	display: flex;
	padding: 12px 20px;
	gap: 20px;

	background-color: var(--color-section);
	border-bottom: var(--line-border);
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	font-size: 24px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 80px;
	padding: 10px;

	background-color: var(--color-button);
	border-bottom: var(--line-border);
	border-radius: 12px;
}

.item:hover,
.item:focus {
	background-color: var(--color-accent);
}