@import-normalize;

:root {
	--color-body: #f3ecec;
	--color-section: #cadfe8;
	--color-text: #000000;
	--color-button: #efede7;
	--color-accent: #8ec7e0;
	--color-form: #f0f6f19f;
	--color-card: #cbdacd9f;

	--line-border: 1px solid rgba(50, 52, 52, 0.2);
	--time-animation: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	margin: 0;
	background-color: var(--color-body);

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	color: var(--color-text);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-left: 20px;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

section {
	display: flex;
	flex-direction: column;
	/* align-items: center;*/

	padding: 4px 20px;
	/* border: var(--line-border); */
}

section ul {
	display: flex;
	gap: 20px;

	font-size: 18px;
}

section li {
	display: flex;
	/* font-weight: bold; */
}

button {
	width: 120px;
	padding: 4px;
	background: var(--color-button);
	border: var(--line-border);
	border-radius: 4px;

	font-size: 16px;
	line-height: 1.7;
	letter-spacing: 0.03em;

	cursor: pointer;

	box-shadow: 0;
	transition:
		background-color var(--time-animation) var(--timing-function),
		color var(--time-animation) var(--timing-function),
		box-shadow var(--time-animation) var(--timing-function);
}

button:hover {
	background-color: var(--color-accent);
	color: var(--color-form);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}